@import url(https://fonts.googleapis.com/css?family=Fira+Sans:regular,600,700&display=swap);
@charset "UTF-8";
@media (min-width: 61.99875em) {
  :root {
    --vertival-indent: 3.75rem;
  }
}
@media (max-width: 61.99875em) {
  :root {
    --vertival-indent: 1.875rem;
  }
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Fira Sans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  line-height: 1.33;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 0.6s ease, opacity 0.6s ease;
}
.loaded .wrapper {
  opacity: 1 !important;
  visibility: visible;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 82.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

@media (min-width: 61.99875em) {
  .form__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.875rem -1.875rem 0;
  }
}
@media (min-width: 61.99875em) {
  .form__col {
    width: 50%;
    flex-shrink: 0;
    padding: 0 1.875rem 1.875rem 0;
  }
}
@media (max-width: 61.99875em) {
  .form__col:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 61.99875em) {
  .form__col--full-mod {
    width: 100%;
  }
}
.form__btn-block {
  margin-top: 1.875rem;
  text-align: center;
}
.form__button {
  min-width: 15rem;
  text-transform: uppercase;
}
._sending .form__button {
  pointer-events: none;
  background-color: #9d7d06 !important;
  color: inherit !important;
}
._sending .form__button::before {
  opacity: 0 !important;
}
input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 0 1.25rem;
  height: 3.125rem;
  border-radius: 0.25rem;
  border: 1px solid #eee;
  background-color: #fbfbfb;
  transition: border-color 0.3s ease;
}
.input._form-focus {
  border-color: #f6c613;
}
.input._form-error {
  border-color: #f20000;
}
.input:focus {
  outline: none;
}

textarea.input {
  padding: 1.25rem;
  height: 9.375rem;
  resize: none;
}

.select {
  position: relative;
}
.select__body {
  position: relative;
}
.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}
.select__value {
  display: flex;
  align-items: center;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}
.select__value > * {
  flex: 1 1 auto;
  flex-shrink: 0;
}
.select__value:after {
  content: "";
  align-self: stretch;
  flex: 0 0 10px;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}
._select-open .select__value:after {
  transform: rotate(-180deg);
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}
.select__text {
  flex: 1 1 auto;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}
.select__option._select-selected {
  background-color: #eee;
}
@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
.select__row {
  display: inline-flex;
  align-items: center;
}
.select._select-open {
  z-index: 5;
}
._select-tag {
  cursor: pointer;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 0.625rem;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup__close {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  width: 1.375rem;
  height: 1.375rem;
  cursor: pointer;
}
.popup__close::before, .popup__close::after {
  position: absolute;
  left: 0;
  width: 1.375rem;
  height: 0.125rem;
  background-color: #231d1b;
  transition: background-color 0.3s ease;
  content: "";
}
.popup__close::before {
  top: calc(50% - 0.0625rem);
  transform: rotate(45deg);
}
.popup__close::after {
  bottom: calc(50% - 0.0625rem);
  transform: rotate(-45deg);
}
.popup__close:hover::before, .popup__close:hover::after, .popup__close:focus::before, .popup__close:focus::after {
  background-color: #f6c613;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
  min-height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 1.875rem;
  width: 100%;
  max-width: 56.25rem;
  border-radius: 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}
.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 0 0.9375rem;
  line-height: 3rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  border: 1px solid #f6c613;
  border-radius: 0.375rem;
  background-color: #f6c613;
  overflow: hidden;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.btn::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transform: scaleX(0);
  transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  content: "";
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn:hover, .btn:focus {
  color: #f6c613;
}
.btn:hover::before, .btn:focus::before {
  opacity: 1;
  transform: scaleX(1);
}

.heading-block h2 {
  position: relative;
  font-weight: 700;
}
@media (min-width: 61.99875em) {
  .heading-block h2 {
    font-size: 2.25rem;
  }
}
@media (min-width: 29.99875em) {
  .heading-block h2 {
    padding-left: 3.625rem;
  }
  .heading-block h2::before {
    position: absolute;
    top: 1.25rem;
    left: 0;
    width: 3.125rem;
    border: 2px solid #f6c613;
    content: "";
  }
}
@media (max-width: 61.99875em) {
  .heading-block h2 {
    font-size: 1.875rem;
  }
}
.heading-block h3 {
  position: relative;
  max-width: 53.125rem;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 61.99875em) {
  .heading-block h3 {
    font-size: 1.875rem;
  }
}
@media (max-width: 61.99875em) {
  .heading-block h3 {
    font-size: 1.5rem;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  color: #fff;
  background-color: rgba(20, 20, 20, 0.35);
}
.header._header-scroll {
  position: fixed;
  background-color: #000;
  animation: 1s ease-in-out 0s normal none 1 running fadeInDown;
}
.header__top {
  padding: 0.625rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
._header-scroll .header__top {
  display: none;
}
.header__main:not(._header-scroll .header__main) {
  padding: 1.25rem 0;
}
@media (max-width: 61.99875em) {
  ._header-scroll .header__main {
    padding: 0.625rem 0;
  }
}
.header__menu {
  margin-left: auto;
  padding-left: 1.25rem;
}

.top-header__container {
  display: flex;
}
.top-header__contacts {
  margin-left: auto;
}
.top-header__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0 -2.5rem -0.625rem 0;
}
.top-header__list li {
  padding: 0 2.5rem 0.625rem 0;
}
.top-header__list a {
  transition: color 0.3s ease;
}
.top-header__list a:hover, .top-header__list a:focus {
  color: #f6c613;
}

.main-header__container {
  display: flex;
  align-items: center;
}
.main-header__logo {
  position: relative;
  z-index: 1;
  max-width: 25rem;
  font-size: 2.125rem;
  color: #f6c613;
}
.main-header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-header__menu {
  padding-left: 1.25rem;
  margin-left: auto;
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: 7.5rem 1.25rem 1.25rem;
    background-color: #231d1b;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    transition: all 0.6s ease;
  }
  .menu__body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.0625rem;
    background-color: #231d1b;
    content: "";
  }
  .menu-open .menu__body {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 61.99875em) {
  .menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
.menu__list a {
  transition: background-color 0.3s ease, color 0.3s ease;
}
@media (min-width: 61.99875em) {
  .menu__list a {
    display: inline-block;
    padding: 1.5625rem 0.625rem;
    font-weight: 600;
  }
}
@media (max-width: 61.99875em) {
  .menu__list a {
    display: block;
    padding: 0.625rem 0;
    font-size: 1.125rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}
@media (min-width: 61.99875em) {
  .menu__list a:hover, .menu__list a:focus {
    color: #000;
    background-color: #f6c613;
  }
}
@media (max-width: 61.99875em) {
  .menu__list a:hover, .menu__list a:focus {
    color: #f6c613;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
    background-color: #f6c613;
  }
  .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    background-color: #f6c613;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #231d1b;
}
@media (min-width: 47.99875em) {
  .footer {
    padding-top: 3.125rem;
  }
}
@media (max-width: 47.99875em) {
  .footer {
    padding-top: 1.875rem;
    text-align: center;
  }
}
.footer__top {
  color: #fff;
}
@media (min-width: 47.99875em) {
  .footer__top {
    display: flex;
  }
}
@media (max-width: 61.99875em) and (min-width: 47.99875em) {
  .footer__top {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 47.99875em) {
  .footer__top:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__top:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.footer__logo {
  position: relative;
  z-index: 1;
  font-size: 2.125rem;
  color: #f6c613;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (min-width: 61.99875em) {
  .footer__logo {
    max-width: 25rem;
  }
}
@media (max-width: 61.99875em) {
  .footer__logo {
    flex: 1 1 100%;
  }
}
@media (max-width: 61.99875em) {
  .footer__logo:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.footer__title {
  font-size: 1.25rem;
  font-weight: 600;
}
.footer__title:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (min-width: 61.99875em) {
  .footer__nav {
    margin-left: auto;
    padding-left: 1.25rem;
    flex: 0 0 max(16.5rem, 20%);
  }
}
@media (max-width: 61.99875em) and (min-width: 47.99875em) {
  .footer__nav {
    flex: 0 0 50%;
  }
}
@media (max-width: 47.99875em) {
  .footer__nav:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 61.99875em) {
  .footer__list {
    max-width: 18.75rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__list {
    margin: 0 auto;
  }
}
.footer__list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__list li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__list li a {
  display: block;
  padding: 0.625rem 0;
  transition: color 0.3s ease;
}
.footer__list li a:hover, .footer__list li a:focus {
  color: #f6c613;
}
@media (min-width: 61.99875em) {
  .footer__contacts {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 47.99875em) {
  .footer__contacts {
    padding-left: 1.25rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 47.99875em) {
  .footer__contacts {
    flex: 0 0 50%;
  }
}
@media (max-width: 47.99875em) {
  .footer__contacts:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 61.99875em) {
  .footer__contacts-list {
    max-width: 18.75rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__contacts-list {
    margin: 0 auto;
  }
}
.footer__contacts-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__contacts-list li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__contacts-list li a,
.footer__contacts-list li p {
  display: block;
  padding: 0.625rem 0;
  transition: color 0.3s ease;
}
.footer__contacts-list li a:hover, .footer__contacts-list li a:focus {
  color: #f6c613;
}
.footer__bottom {
  position: relative;
  padding: 1.25rem 0;
}
.footer__bottom::before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  background-color: #f6c613;
  transform: translateX(-50%);
  content: "";
}
.footer__copy {
  position: relative;
  text-align: center;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  padding: 11.25rem 0 2.5rem;
}
@media (min-width: 61.99875em) {
  .hero {
    min-height: 37.5rem;
  }
}
@media (max-width: 61.99875em) {
  .hero {
    min-height: 28.125rem;
  }
}
.hero__container {
  width: 100%;
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__bg::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.72);
  content: "";
}
.hero__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__body {
  position: relative;
  z-index: 2;
  max-width: 41.875rem;
  color: #fff;
}
.hero__content:not(:last-child) {
  margin-bottom: 1.25rem;
}
.hero__content h1 {
  font-weight: 600;
}
@media (min-width: 61.99875em) {
  .hero__content h1 {
    font-size: 3.4375rem;
  }
}
@media (max-width: 61.99875em) {
  .hero__content h1 {
    font-size: 2.1875rem;
  }
}
.hero__content h1:not(:last-child) {
  margin-bottom: 1.25rem;
}
.hero__content h1 strong {
  font-weight: inherit;
  color: #f6c613;
}
@media (min-width: 61.99875em) {
  .hero__content p {
    font-size: 1.125rem;
  }
}
@media (max-width: 61.99875em) {
  .hero__content p {
    font-size: 1rem;
  }
}
.section-content {
  padding: var(--vertival-indent) 0;
}
.section-content.section-content--small-indent-mod {
  padding-bottom: calc(var(--vertival-indent) / 4);
}
@media (min-width: 61.99875em) {
  .section-content__heading:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 61.99875em) {
  .section-content__heading:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 61.99875em) {
  .section-content__row {
    display: flex;
    margin: 0 -0.75rem;
  }
}
@media (min-width: 61.99875em) {
  .section-content__row--reverse-mod {
    flex-direction: row-reverse;
  }
}
@media (min-width: 61.99875em) {
  .section-content__col {
    width: 50%;
    flex-shrink: 0;
    padding: 0 0.75rem;
  }
}
@media (max-width: 61.99875em) {
  .section-content__col:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 61.99875em) {
  .section-content__content {
    padding: 0.9375rem 0;
  }
}
.section-content__content h4 {
  font-size: 1.375rem;
  font-weight: 600;
}
@media (min-width: 61.99875em) {
  .section-content__content h4:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 61.99875em) {
  .section-content__content h4:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
}
@media (max-width: 61.99875em) {
  .section-content__content h4:not(:first-child) {
    margin-top: 0.9375rem;
  }
}
.section-content__content p {
  font-size: 1.125rem;
}
@media (min-width: 61.99875em) {
  .section-content__content p:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 61.99875em) {
  .section-content__content p:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.section-content__content ul {
  font-size: 1.125rem;
}
.section-content__content ul li {
  position: relative;
  padding-left: 1.875rem;
}
.section-content__content ul li::before {
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #f6c613;
  border-radius: 50%;
  content: "";
}
.section-content__content ul li:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.section-content__picture {
  position: relative;
  padding-bottom: 66.66%;
  border-radius: 4px;
  overflow: hidden;
}
.section-content__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-construction {
  padding: var(--vertival-indent) 0;
}
@media (min-width: 61.99875em) {
  .section-construction__heading:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 61.99875em) {
  .section-construction__heading:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 61.99875em) {
  .section-construction__cards {
    margin: 0 -2.5rem -2.5rem 0;
  }
}
@media (min-width: 47.99875em) {
  .section-construction__cards {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 61.99875em) and (min-width: 47.99875em) {
  .section-construction__cards {
    margin: 0 -1.25rem -2.5rem 0;
  }
}
.section-construction__item {
  flex-shrink: 0;
}
@media (min-width: 61.99875em) {
  .section-construction__item {
    width: 33.333%;
    padding: 0 2.5rem 2.5rem 0;
  }
}
@media (max-width: 61.99875em) and (min-width: 47.99875em) {
  .section-construction__item {
    width: 50%;
    padding: 0 1.25rem 2.5rem 0;
  }
}
@media (max-width: 47.99875em) {
  .section-construction__item:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.card-construction__picture {
  position: relative;
  padding-bottom: 70%;
  overflow: hidden;
}
.card-construction__picture:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.card-construction__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
  transition: transform 0.3s ease;
}
.card-construction__picture:hover img, .card-construction__picture:focus img {
  transform: scale(1.05);
}
.card-construction__content h3 {
  font-size: 1.25rem;
  font-weight: 600;
}
.card-construction__content h3:not(:last-child) {
  margin-bottom: 0.625rem;
}
.card-construction__content p {
  font-size: 1rem;
}
.card-construction__content p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.section-form {
  padding: var(--vertival-indent) 0;
}
@media (min-width: 61.99875em) {
  .section-form__heading:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 61.99875em) {
  .section-form__heading:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.section-form__form {
  max-width: 43.75rem;
  margin: 0 auto;
}
